.sombra {
    box-shadow: 2px 2px 4px 4px rgb(216, 216, 216);
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    background-color: rgb(245, 245, 245);
    ;
}

li button {
    visibility: hidden;
}

li:hover button {
    visibility: visible;
}

#ileft {
    color: lightgrey;
    font-size: 12px;
}

#header {
    color: rgb(225, 225, 225);
    font-weight: lighter;
    font-size: 50px;
}

body {
    background-color: rgb(238, 238, 238);
}